/* some style */


body, html{
    padding: 0;
    margin: 0;
}

.ui.menu {

    border: 0 none !important;
    -webkit-box-shadow: none;
    box-shadow: none;

}


.light-blue {
    background-color: #F2FEFE !important;

}

.padded-row{

    padding-left: 10% !important;
    padding-right: 10% !important;
}

.padded-top{

    padding-top: 10% !important;

}

.card-def {
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
    line-height: 1.8;
    font-size: 1.3em;


    padding: unset !important;


     /* width: 80% !important; */
}

.ui.card:hover {
    -webkit-box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.1) !important;

    background-color: #fff !important;

    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);


    border-radius: 10px;

}


.ui.card:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);

}

.no-top-border {
    border-top: none !important;

}

.gray-img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}


.img-shadow {
    -webkit-box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.5);
}

.segment-bg {

    background: #75cbe7;
    background: -webkit-gradient(linear, left top, left bottom, from(#75cbe7), to(#138fc2)) !important;
    background: linear-gradient(to bottom, #75cbe7 0%, #138fc2 100%) !important;

}

.transparent-bg {

    background: inherit !important;
    color: white;

}

.no-border{
    border: unset !important;
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
}



/* FAQ */
.gray-text {
    color: #515656 !important;
}

.title:hover {
    color: black !important;
}

h2{

    text-align: center;
    margin-top: 8% !important;
    margin-bottom: 8% !important;
}


.content> p {
    margin-left: 40px;
    margin-bottom: 3% !important;
}


.row {

    min-height: 73vh !important;
    /* padding-top: unset !important; */
}

ui.placeholder.segment .button, .ui.placeholder.segment .field, .ui.placeholder.segment textarea, .ui.placeholder.segment>.ui.input {
    max-width: unset !important;
}

.ui.placeholder.segment textarea{
    min-height: 30vh !important;
}


/* for some reason i need to include both in order for footer to be smaller  */
#nav-bar, #footer {
    min-height: unset !important;

}

#footer .row {
    min-height: unset !important;
}

#footer i{
    color: #138fc2;
}

#footer i:hover{
    background-color: #75cbe7;
    color : white;

}


.anchor-offset {
    display: hidden;
    position: relative;
    top: -12vh;
}





.no-padding {
    padding-top: unset !important;
    padding-bottom : unset !important;

}

/* .main-img { */

/*     filter: blur(4px); */
/*     /\* transform: scale(1.1); *\/ */



/* } */


.img-over {
    position:absolute;
    top: 10%;
    right: 0%;
    width: 35%;
    height: 40vw;
    background-image: url("../img/hand3.png");
    background-position:center;
    background-repeat:no-repeat;
    background-size: contain;

}


@media only screen and (max-width: 767px){
.ui.grid>.column:not(.row), .ui.grid>.row>.column {
    padding-left: unset !important;
    padding-right: unset !important;

}

.ui.grid>.stackable.stackable.row>.column, .ui.stackable.grid>.column.grid>.column, .ui.stackable.grid>.column.row>.column, .ui.stackable.grid>.column:not(.row), .ui.stackable.grid>.row>.column, .ui.stackable.grid>.row>.wide.column, .ui.stackable.grid>.wide.column{
    padding: 1rem 0!important;
}

.ui.segment {

    margin:unset;
}

.main-header{
    font-size: 4rem !important;
}

.fix-jump-bug{
    transform: none !important;
}

.anchor-offset {
    display: hidden;
    position: relative;
    top: -9vh;
  }

.padded-row{

    padding-left: 5% !important;
    padding-right: 5% !important;
}


}


/* Page Context */
.pushable:not(body) {
  transform: none;
}

.pushable:not(body) > .ui.sidebar,
.pushable:not(body) > .fixed {
    top: 65px;
    position: fixed;
}


@media only screen and (min-width: 768px) and (max-width: 920px) {
.right.menu {
    font-size: 1rem;

}
